{% extends "base.html" %} {% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tasks.css') }}" />
<script src="{{ url_for('static', filename='js/tasks.js') }}" defer></script>
{% endblock %} {% block title %} MedLyft - Home {% endblock %} {% block navbar %}
<li><a href="#" class="active-tab">Home</a></li>
<li><a href="#">Settings</a></li>
{% endblock %} {% block content %}
<div id="display">
    <div id="tabs-container">
        <ul id="tabs">
            <li onclick="location.href='/'">Drivers</li>
            <li onclick="location.href='/patients'">Patients</li>
            <li class="active-tab">Tasks</li>
        </ul>
    </div>

    <div id="view"></div>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <p id="last-active">last accessed on {{ messages[0] }}</p>
    {% endif %} {% endwith %}
</div>
{% endblock %}
